<!DOCTYPE html> 
<html lang="ru">
{% load static %}
{% load thumbnail %}
  <head>
  </head>
  <body>
      <ul>
        <li>
        {% thumbnail game.image "321x450" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        </li>
        {% endthumbnail %}
        <il>
          {{ game.name }}
        </il>
        <il>
            Жанр: {{ genres }}
        </il>
        <li>
            Разработчик: {{ game.developer }}
        </li>
        <li>
            Издатель: {{ game.publisher }}
        </li>
        <il>
            Описание: {{ game.description}}
        </il>
      </ul> 
  </body>
</html> 